#library-catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.books {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(425px, 425px);
    /* border: 1px solid lightgray; */
    padding: 0;
    width: 100%;
}

@media (max-width: 576px) {
    .books {
        grid-template-columns: repeat(1, 1fr);
    }
}