<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- google fonts poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- icons from bootstrap -->
    <link rel="stylesheet" href="/node_modules/bootstrap-icons/font/bootstrap-icons.min.css" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap-grid.min.css" />
    <!-- stylesheets -->
    <link rel="stylesheet" href="/public/css/styles.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="stylesheet" href="/public/css/components/books.css">
</head>
<body>
    <header class="container-fluid col-12">

    </header>
    <main>
        <section class="container-fluid col-12 d-flex align-items-center justify-content-center" style="background-color: mintcream; height: 200px;">

            <!-- create a search bar -->
            <div class="search-bar container-fluid col-12 d-flex align-items-center justify-content-center">
                <form class="container-fluid col-12 d-flex align-items-center justify-content-center" role="search">
                    <input class="form-control" type="search" placeholder="Search for books..." aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </section>

        <!-- add a display button that will trigger the range -->
        <section class="container-fluid col-12 p-3 d-flex align-items-center justify-content-center">

            <select class="form-control" name="displays_per_page">
                <option value="15" selected>15</option>
                <option value="30">30</option>
                <option value="45">45</option>
            </select>
        </section>

        <h2 class="text-center col-12" style="text-align: center;">Orthodox Library Catalog</h2>

        <p class="text-center col-12" style="text-align: center;">Welcome to the library catalog. Here you can find a wide range of books and resources.</p>

        <!-- library catalog -->
        <section class="container-fluid col-12" id="library-catalog">

            <div class="books"></div>
        </section>
    </main>
    <!-- bootstrap js -->
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <!-- javascript -->
    <script>

        const bookCatalog = document.querySelector(".books");
        let displaysPerPage = document.querySelector("select[name='displays_per_page']");
        let start = 0;
        let last = displaysPerPage.value;

        findBookRange(start, last);

        displaysPerPage.onchange = () => {
            
            // update the last var
            last = displaysPerPage.value;

            findBookRange(start, last);
        }
 
        // update book range
        async function findBookRange(start, last) {

            // clear the list of books first
            bookCatalog.innerHTML = null;

            const options = {
                method: "POST",
                body: JSON.stringify({start, last}),
                headers: {
                    "Content-Type" : "application/json" 
                }
            }
            // now search for a new range
            const request = await fetch("/api/find-book-range", options);

            const books = await request.json();

            // clear the list of books first
            bookCatalog.innerHTML = null;

            books.map(book => {
                createBook(book);
            });
        }

        // create a new book
        function createBook(data) {

            const bookContainer = document.createElement("div");
            bookContainer.classList.add("book-container");

            const book = document.createElement("article");
            book.classList.add("book");

            const bookLink = document.createElement("a");
            bookLink.classList.add("book-link");
            bookLink.href = "/book/" + data.title;

            const bookCoverContainer = document.createElement("div");
            bookCoverContainer.classList.add("book-cover-container");

            const bookCover = document.createElement("img");
            bookCover.classList.add("book-cover");
            bookCover.src = data.cover;
            bookCover.alt = data.title;

            const bookInfo = document.createElement("div");
            bookInfo.classList.add("book-info");

            const title = document.createElement("h5");
            title.classList.add("book-title");
            title.textContent = data.title;

            const author = document.createElement("p");
            author.classList.add("book-author");
            author.textContent = data.author;

            const description = document.createElement("p");
            description.classList.add("book-description");
            description.textContent = data.description;

            // add the book link 1st
            book.appendChild(bookLink);

            // add the book cover to the booklink
            bookLink.appendChild(bookCoverContainer);

            // add teh book info to the link
            bookLink.appendChild(bookInfo);

            bookCoverContainer.appendChild(bookCover);

            // add the book info
            bookInfo.appendChild(title);
            bookInfo.appendChild(author);
            bookInfo.appendChild(description);


            bookContainer.appendChild(book);
            bookCatalog.appendChild(bookContainer);

            // check results
            console.log("new book created");
        }
        // count the total number of books in results
        const searchResults = document.querySelector(".search-results-count");
    </script>
</body>
</html>