main {
    flex-direction: column;
    height: 100vh;
}

.book-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.start-reading {
    text-decoration: none;
    background-color: black;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    font-size: 14px;
}