main {
    flex-direction: column;
    min-height: 100vh;
}
form[name="request_pdf_upload"] {
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 0 0 8px lightgray;
}
.pdf-list-item {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid crimson;
    border-radius: 8px;
    padding: 8px 0;
}
.pdf-file-icon {

}
.pdf-filename {

}
.pdf-file-size {
    font-size: 12px;
}