main {
    flex-direction: column;;
}
.pdf-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(85px, 85px);
    border: 1px solid lightgray;
    border-radius: 4px;
}
.pdf-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pdf-icon {
    color: crimson;
}

.filename {
    /* color: crimson; */
}

.create-a-book-link {
    text-decoration: none;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 4px;
}

@media (max-width: 576px) {

    .pdf-list {
        grid-auto-rows: minmax(300px, 300px) !important;
    }
    .pdf-list-item {
        display: grid !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: 125px repeat(4, 1fr) !important;
    }
    .pdf-list-item> :nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        font-size: 100px !important;
    }
    .pdf-list-item> :nth-child(2),
    .pdf-list-item> :nth-child(3),
    .pdf-list-item> :nth-child(4),
    .pdf-list-item> :nth-child(5) {
        font-size: 14px !important;
    }
}