.book-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: black;
}

.book-cover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 250px;
    position: relative;
}

.book-genre {
    font-size: 12px;
    /* font-weight: bold; */
    /* letter-spacing: 1.5px; */
    box-shadow: 0 0 4px gray;
    background-color: white;
    color: royalblue;
    width: auto;
    height: auto;
    padding: 4px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
}

.book-cover {
    /* background-color: royalblue; */
    color: white;
    /* object-fit: contain; */
    height: 100%;
    width: 100%;
    transition: 1s ease-out;
    color: black;
    border-radius: 4px;
    background-color: gray;
}
.book-cover:hover {
    transform: scale(1.1);
    transition: 1s ease-in;
    cursor: pointer;
}
.book-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px;
    /* border: 1px solid red; */
}
.book-title {
    font-size: 1.25rem;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    max-width: 250px;
    margin: 0;
    padding: 0;
}
.book-author {
    font-size: 0.85rem;
    margin: 4px 0;
    padding: 0;
}
.book-description {
    font-size: 0.85rem;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px;
}

.book-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.book-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 36, 36);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 8px;
    gap: 4px;
    width: auto;
}
.book-button-text {
    font-size: 0.85rem;
    font-weight: normal;
}
.book-button-icon {
    font-size: 0.60rem;
}
